.DataHeader {
  width: 93%;
  background-color: orange;
  color: white;
  display: flex;
  margin: 0 auto;
  font-size: small;
  justify-content: space-evenly;
}
.DataHeadersSecond {
  padding: 8px;
}
