.gameHistoryData {
  margin: 0 auto;
  width: 93%;

  overflow: scroll;
  margin-top: 4px;
}
.gameHistoryData::-webkit-scrollbar {
  display: none;
}
.DataHolder {
  display: flex;
  margin-bottom: 10px;
}
.data {
  padding: 5px;
  text-align: center;
}

.Colorres {
  width: 17px;
}
