* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainConatiner {
  background-color: #0e0e0e;
}
.header {
  width: 100%;
  height: 50px;
  background-color: #202020;
  display: flex;
}
.logo {
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo img {
  vertical-align: middle;
  height: 25px;
  padding-left: 10px;
}
.headerBalance {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 55%;
}
.headerBalance p {
  font-size: 19px;
  color: green;
}
.rupeeHeader {
  height: 15px;
  margin-right: -2px;
}
.msg {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 18%;
}
.msgIcon {
  color: white;
  font-size: 19px;
}

.historyStrip {
  height: 45px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.prevHistory {
  background-color: black;
  color: violet;
  padding: 2px 4px 2px 4px;
  border-radius: 25%;
}
.spclHistory {
  position: absolute;
  background-color: #202020;
  right: 0;
  width: 55px;
  height: 25px;
  border-radius: 25px;
  box-shadow: 0 0 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.period_strip {
  color: white;
  padding: 1px 0 1px 20px;
  font-size: small;
}
.displayArea {
  height: 250px;
  width: 98%;
  margin: 0 auto;
  margin-top: 8px;
  border: 1px solid white;
  box-shadow: 0 0 2px white;
  border-radius: 25px;
  overflow: hidden;
}
.waiting_dialog {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 5px;
  background-color: rgb(77, 76, 75);
}

.blade_icon {
  height: 52px;
  width: 50px;
  animation-name: rotator;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes rotator {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
.FLyingZone {
  background-color: rgb(245, 218, 218);
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  position: relative;
}
.background {
  height: 700px;
  width: auto;
  top: -70%;
  position: absolute;
  animation-name: rotatorbg;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes rotatorbg {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(170px);
  }
}

.plane_box {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  z-index: 5;
}
.rocket {
  height: 110px;
  transform: rotate(18deg);
}
.height {
  color: white;
  z-index: 3;
  position: absolute;
  bottom: 13%;
  font-size: 45px;
}
.game_over_dialog {
  z-index: 2;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.GameOvermsg {
  color: white;
  z-index: 2;
  font-size: 30px;
  font-weight: bold;
}
.overAt {
  color: red;
  z-index: 2;
  font-size: 50px;
  font-weight: bold;
}
.ContorlBox {
  background-color: #202020;
  height: 150px;
  margin-top: 15px;
  display: flex;
  gap: 10px;
}
.sides {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sides:nth-child(2) {
  width: 130%;

  background-color: transparent;
}
.buttonFalse {
  background-color: #019b13;
  color: white;
  border: none;
  height: 70%;
  width: 90%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border-radius: 25px;
  padding: 10px 0 10px 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.buttonTrue {
  background-color: #eb2923;
  color: white;
  border: none;
  height: 70%;
  width: 90%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border-radius: 25px;
  padding: 10px 0 10px 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.button:hover {
  background-color: #0f7e0f;
}
.button:active {
  background-color: #0f7e0f;
  transform: scale(0.95);
}
.inputFrame {
  height: 70%;
  width: 100%;
  color: white;
}
.inputFieldsFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: rgb(64, 64, 64);
  border-radius: 25px;
}
.inputFieldsFrame input {
  background-color: rgb(64, 64, 64);
  color: white;
  border: none;
  width: 70%;
  height: 70%;
  border-radius: 25px;
  padding: 5px 0 5px 10px;
  font-size: 20px;
  text-align: center;
}
.mp {
  height: 70%;
  width: 20%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.OptionBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}
.OptionBox p {
  background-color: rgb(64, 64, 64);
  width: 40%;
  text-align: center;
  border-radius: 3px;
}
